.bahasa-icon {
  position: relative;
}

.bahasa-icon .description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  /* Semi-transparent background */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bahasa-icon-2 {
  position: relative;
}

.bahasa-icon-2 .description {
  position: absolute;
  top: 0;
  left: 486px;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  /* Semi-transparent background */
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-animation {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.text-animation:hover {
  transform: scale(1.05);
}